fastapi==0.127.0
uvicorn==0.39.0
sqlmodel==0.0.29
sqlalchemy==2.0.45
pydantic==2.12.5
pydantic-settings==2.11.0
loguru==0.7.3
psycopg2-binary==2.9.11
cryptography==46.0.3
passlib==1.7.4
email-validator==2.3.0
typing_extensions==4.15.0
